.loginMain{
    width: 100%;
    height: 100dvh;
    /* background: radial-gradient(circle, rgba(247,80,153,1) 0%, var(--theme) 100%); */
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
}
