.loginMain{
    width: 100%;
    height: 100dvh;
    /* background-color: #e0e0e0; */
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}
