.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  border-radius: 15px;
  width: 40%;
  height: 60%;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(99, 99, 99);
  /* background-color: rgb(228, 228, 228); */
  background-color: #232628;
  transition: all 0.3s ease-in-out;
}
.form:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.521);
}
.input {
  padding: 12px;
  border-radius: 15px;
  border: none;
  background-color: #2b2a33;
  color: rgb(206, 206, 206);
  width: 70%;
  outline: none;
}
.input:focus {
  outline: 2px solid grey;
}
.btn {
  user-select: none;
  -webkit-user-select: none;
  color: whitesmoke;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #232628;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.btn::before {
  transition: all 0.3s ease-in-out;
  content: "";
  left: 0;
  width: 0;
  top: 0;
  height: 100%;
  border-radius: 8px;
  position: absolute;
  z-index: -1;
  background-color: var(--theme);
}
.btn:hover {
  color: white;
  user-select: none;
  -webkit-user-select: none;
}
.btn:hover::before {
  width: 100%;
}
.bottom {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom > a {
  padding: 10px 15px;
  border: 1px solid var(--theme);
  font-size: 0.7rem;
}
.bottom a:visited {
  color: inherit;
}
@media only screen and (max-width: 800px) {
  .form {
    width: 90%;
  }
}
