* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  /* --theme: rgb(104, 192, 104); */
  --theme: #0d0e0e;

  --light: #e8e6e3;
}
body {
  scroll-behavior: smooth;
}
/* to avoid blue layer in mobile devices */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:focus,
a:visited,
a:active {
  outline: none;
}
* {
  -webkit-tap-highlight-color: transparent;
}
.dflex {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
}
