.navbar{
    background-color: var(--theme);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    color: var(--light);
}
.navbar > a,.navbar>a:visited{
    color: inherit;
    text-decoration: none;
}